.page-detail {
  padding-bottom: 80px;
}
.card {
  margin-bottom: 32px;
}
.layout {
  width: 100%;
}
.grid-item {
  display: flex;
  height: 100%;
}
.rich-editor {
  height: 100%;
}
.grid-item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section-actions {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
.text-block {
  margin-bottom: 16px;
}

